experiments/
runs/
model_zoo/
*.egg-info
.eggs
*ipynb
*.pth
*.pt
*.cu
__pycache__
build/
meta_info/
build
models/op/
options/basicvsrpp/*
!options/basicvsrpp/4x_train_vimeo_lpips_001.yaml
!options/basicvsrpp/test_4x_demo.yaml
maniqa/
archs/basicsr/basicsr/ops/
archs/basicsr/version.py
