experiments/
runs/
model_zoo/
*.egg-info
.eggs
*.so
*ipynb
*.pth
*.pt
__pycache__
build/
meta_info/
build
models/op/
options/basicvsrpp/*
!options/basicvsrpp/4x_train_vimeo_lpips_001.yaml
!options/basicvsrpp/test_4x_demo.yaml
archs/basicsr/version.py
maniqa/*
*.png
*jpg
4x_001_train_basicvsrpp_vimeo_spynet.json
.gitignore
4x_test_basicvsrpp_vimeo_mdtvsfa_001.json
